{{- define "main" }}
{{- $pages := .Pages }}
{{- $pages = sort $pages "Date" "desc" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
</header>

<div class="layout-with-search">
  <div class="main-column">
    {{- range $pages }}
    <article class="post-entry">
      <header class="entry-header">
        <h2 class="entry-hint-parent">{{ .Title }}</h2>
      </header>
      <div class="entry-content">
        <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
      </div>
      <footer class="entry-footer">
        {{- partial "post_meta.html" . -}}
      </footer>
      <a class="entry-link" aria-label="post link to {{ .Title | plainify }}"
         href="{{ .Permalink }}?from={{ index .Params.categories 0 }}"></a>
    </article>
    {{- end }}
  </div>

  {{- partial "search_sidebar.html" . }}
</div>
{{- end }}
